<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

    <div th:each="cheese : ${cheeses}">
        <div>
            <label>Title
            <p th:text="${cheese.key}">Key</p>
            </label>
        </div>
        <div>
            <label>Description
            <p th:text="${cheese.value}">Value</p>
            </label>
        </div>
    </div>

</body>
</html>